<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/Plantilla :: head}">
        <title>TODO supply a title</title>
    </head>
    <body>
        <header th:replace="~{layout/Plantilla :: header}"/>
        
        <section th:replace="~{categoria/Fragmentos :: botonesAgregar}"/>
        <section th:replace="~{categoria/fragmentos :: agregarCategoria}"/>
        <section th:replace="~{categoria/Fragmentos :: listadoCategorias}"/>
        
        <footer th:replace="~{layout/Plantilla :: footer}"/>
    </body>
</html>
